# Server
PORT=3000
NODE_ENV=development

# Supabase
SUPABASE_URL=https://uqphpjjtlyljbsoiihyy.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVxcGhwamp0bHlsamJzb2lpaHl5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTg2NzA1MiwiZXhwIjoyMDkxNDQzMDUyfQ.Ptxrj9FRztqkstjNm-2H6_HFZKw2MMG8SHKDa-eAzyo


# CORS
ALLOWED_ORIGINS=https://voltic-painel.vercel.app,http://localhost:3000

# Mercado Livre
ML_APP_ID=8536635137998978
ML_CLIENT_SECRET=zpY1zzIEdjzAiK1cBQOPXQ5H57vH8SMj
ML_REDIRECT_URI=https://voltic-api.onrender.com/api/v1/auth/ml/callback

# Shopee
SHOPEE_PARTNER_ID=<partner_id>
SHOPEE_PARTNER_KEY=<partner_key>
SHOPEE_REDIRECT_URI=https://voltic-api.onrender.com/api/v1/auth/shopee/callback
